 <md-content layout="row">
     <div flex hide-sm></div>

     <form flex ng-submit="loginCtrl.submit()">

         <md-input-container>
             <label>Username</label>
             <input ng-model="loginCtrl.loginUser.username">
         </md-input-container>

         <md-input-container>
             <label>Password</label>
             <input type="password" ng-model="loginCtrl.loginUser.password">
         </md-input-container>

         <md-button typeof="submit" class="md-raised md-primary">Log In</md-button>
     </form>

     <div flex hide-sm></div>
 </md-content>