<md-content layout-padding layout="row">
    <span flex></span>

    <form flex-sm="80" flex-gt-sm="50" name="login" ng-submit="RegisterCtrl.submit()">
        <h1>New Account Registration</h1>
        <md-input-container>
            <label>Username</label>
            <input required name="username" ng-model="RegisterCtrl.user.username">
        </md-input-container>
        <md-input-container>
            <label>First Name</label>
            <input required name="firstname" ng-model="RegisterCtrl.user.firstName">
        </md-input-container>
        <md-input-container>
            <label>Last Name</label>
            <input required name="lastname" ng-model="RegisterCtrl.user.lastName">
        </md-input-container>
        <md-input-container>
            <label>Email</label>
            <input type="email" name="email" ng-model="RegisterCtrl.user.email">
        </md-input-container>
        <md-input-container>
            <label>Xbox Live Gamertag</label>
            <input required name="xbl" ng-model="RegisterCtrl.user.XBLTag">
        </md-input-container>
        <md-input-container>
            <label>Playstation Network Gamertag</label>
            <input required name="psn" ng-model="RegisterCtrl.user.PSNTag">
        </md-input-container>
        <md-input-container>
            <label>Steam Gamertag</label>
            <input required name="steam" ng-model="RegisterCtrl.user.steamTag">
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input type="password" required name="password" ng-model="RegisterCtrl.user.password">
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input type="password" required name="password" ng-model="RegisterCtrl.user.confirmPassword">
        </md-input-container>

        <md-input-container>
            <md-button type="submit" class="md-primary">Create Account</md-button>
        </md-input-container>
    </form>

    <span flex></span>
</md-content>
