<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Party Up</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href='/client/bower_components/fontawesome/css/font-awesome.css' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/scripts/libs")
    @Scripts.Render("~/bundles/scripts/app")

    <script src="signalr/hubs"></script>
</head>
<body layout-gt-md="row" layout="column" ng-app="partyUp" ng-cloak>
    <div ng-controller="HeaderCtrl as HeaderCtrl" layout="column">
        <!-- Side Navigation -->
        <md-sidenav class=" md-sidenav-left md-whiteframe-z2"
                    md-component-id="sideNav"
                    md-is-locked-open="$mdMedia('gt-md')"
                    flex>

            <header class="nav-header">
                <a ui-sref="communities">
                    <img src="http://cdn.gentryriggen.com/binary/destinyGhost.png" class="img-circle img-responsive" />
                    <h1>Party Up</h1>
                </a>
            </header>

            <md-content layout-padding>
                <md-list>
                    <md-list-item ng-click="HeaderCtrl.navigate('communities')">
                        <p>Communities</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="HeaderCtrl.navigate('admin')" ng-show="HeaderCtrl.showModerator">
                        <p>Admin</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-click="HeaderCtrl.navigate('login')" ng-hide="HeaderCtrl.currentUser">
                        <p>Log In</p>
                    </md-list-item>
                    <md-list-item ng-click="HeaderCtrl.navigate('logout')" ng-show="HeaderCtrl.currentUser">
                        <p>Logout</p>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
    </div>

    <!-- Main Content -->
    <div flex layout="column" role="main">
        <!-- Mobile Nav -->
        <md-toolbar class="mobile-header" ng-controller="HeaderCtrl as HeaderCtrl">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Nav" ng-click="HeaderCtrl.toggleNav()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block;">
                        <path d="M0 0h18v18h-18z" fill="none"></path>
                        <path fill="#FFF" d="M2 13.5h14v-1.5h-14v1.5zm0-4h14v-1.5h-14v1.5zm0-5.5v1.5h14v-1.5h-14z"></path>
                    </svg>
                </md-button>
                <i class="fa fa-arrow-left back-btn" ng-click="HeaderCtrl.goBack()" ng-show="HeaderCtrl.goBack"></i>
                <h2>{{HeaderCtrl.title}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        
        <md-content flex layout-padding class="ui-view-container">

            <!-- LOADING -->
            <div layout="row" layout-padding ng-show="alert.loading.show">
                <span flex></span>
                <div layout="column" flex="50" layout-align="center center">
                    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                    <div style="margin-top: 10px; text-align: center;">{{alert.loading.message}}</div>
                </div>
                <span flex></span>
            </div>

            <ui-view ng-hide="alert.loading.show"></ui-view>

        </md-content>
    </div>


    <!-- REQUIRED FOR ASP.NET MVC (NOT USED HERE) -->
    @RenderBody()
</body>
</html>
