<!DOCTYPE html>
<html ng-app="partyUp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Party Up</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/scripts/libs")
    @Scripts.Render("~/bundles/scripts/app")

    <script src="signalr/hubs"></script>
</head>
<body layout="row">
    <!-- Side Navigation -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                md-component-id="sideNav"
                md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar>
            <h1 class="md-toolbar-tools">Party Up</h1>
        </md-toolbar>
        <md-content layout-padding>
            <!-- Links -->
        </md-content>
    </md-sidenav>

    <!-- Main Content -->
    <div layout="column" role="main" flex>

        <!-- Top Nav -->
        <md-toolbar class="md-whiteframe-glow-z2 md-default-theme" md-component-id="left" ng-controller="headerCtrl as headerCtrl">
            <!-- Alert -->
            <div class="alert alert-{{alert.type}} animated main-alert text-center"
                 ng-class="{'flipInY': alert.show, 'flipOutY': !alert.show, 'alert-hidden': alert.hasBeenShown}">
                <strong>{{alert.title}}</strong> {{alert.message}}
            </div>
            <div class="md-toolbar-tools">
                <md-button ng-click="headerCtrl.openMenu()" class="md-icon-button" aria-label="Settings" hide-gt-md>
                    <md-icon md-svg-src="/app/assets/images/menu.svg"></md-icon>
                </md-button>
                <h2>
                    <span>Home</span>
                </h2>
            </div>
        </md-toolbar>


        <md-content layout-padding class="ui-view-container">
            
            <ui-view></ui-view>
        </md-content>

    </div>

    @RenderBody()
</body>
</html>
