<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Party Up</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/client/dist/lib.css">
    
    <link rel="stylesheet" href="/client/dist/app.css">
</head>
<body layout-gt-md="row" layout="column" ng-app="partyUp" ng-cloak>
    <div ng-controller="HeaderCtrl as Header" layout="column">
        <!-- Side Navigation -->
        <md-sidenav class=" md-sidenav-left md-whiteframe-z2"
                    md-component-id="sideNav"
                    md-is-locked-open="$mdMedia('gt-md')"
                    flex>

            <header class="nav-header">
                <i class="fa fa-arrow-left close-btn" ng-click="Header.toggleNav()" hide-gt-md></i>
                <br />
                <a ui-sref="communities">
                    <img src="http://cdn.gentryriggen.com/binary/destinyGhost.png" class="img-circle img-responsive" />
                    <h1>Party Up</h1>
                </a>
            </header>

            <md-content layout-padding>
                <md-list>
                    <md-list-item ng-show="Header.currentUser && Header.currentUser.recentlyHostedEvents.length > 0">
                        <p>Recently Hosted Events</p>
                    </md-list-item>
                    <md-divider ng-show="Header.currentUser && Header.currentUser.recentlyHostedEvents.length > 0"></md-divider>
                    <md-list-item ng-show="Header.currentUser" class="event-list-item md-2-line" ng-click="Header.hostEvent(event)" 
                                  ng-repeat="event in Header.currentUser.recentlyHostedEvents track by $index">
                        <div class="mission">{{event.mission.name}}</div>
                        <div class="date">{{event.createdOn | date:medium}}</div>
                    </md-list-item>

                    <md-list-item ng-show="Header.currentUser && Header.currentUser.recentlyJoinedEvents.length > 0">
                        <p>Recently Joined Events</p>
                    </md-list-item>
                    <md-divider ng-show="Header.currentUser && Header.currentUser.recentlyJoinedEvents.length > 0"></md-divider>
                    <md-list-item ng-show="Header.currentUser" class="event-list-item md-2-line" ng-click="Header.findEvents(event)" 
                                  ng-repeat="event in Header.currentUser.recentlyJoinedEvents track by $index">
                        <div class="mission">{{event.mission.name}}</div>
                        <div class="date">{{event.createdOn | date:medium}}</div>
                    </md-list-item>

                    <md-divider></md-divider>
                    <md-list-item ng-click="Header.navigate('communities')">
                        <p>All Communities</p>
                    </md-list-item>
                    <md-list-item ng-click="Header.navigate('login')" ng-hide="Header.currentUser">
                        <p>Log In / Create Account</p>
                    </md-list-item>
                    <md-list-item ng-click="Header.navigate('account')" ng-show="Header.currentUser">
                        <p>My Account</p>
                    </md-list-item>
                    <md-list-item ng-click="Header.navigate('about')">
                        <p>About</p>
                    </md-list-item>
                    <md-list-item ng-click="Header.navigate('admin')" ng-show="Header.showModerator">
                        <p>Admin</p>
                    </md-list-item>
                    <md-list-item ng-click="Header.navigate('logout')" ng-show="Header.currentUser">
                        <p>Logout</p>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
    </div>

    <!-- Main Content -->
    <div flex layout="column" role="main">
        <!-- Mobile Nav -->
        <md-toolbar class="mobile-header" ng-controller="HeaderCtrl as Header">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Nav" ng-click="Header.toggleNav()" hide-gt-md>
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block;">
                        <path d="M0 0h18v18h-18z" fill="none"></path>
                        <path fill="#FFF" d="M2 13.5h14v-1.5h-14v1.5zm0-4h14v-1.5h-14v1.5zm0-5.5v1.5h14v-1.5h-14z"></path>
                    </svg>
                </md-button>
                <i class="fa fa-arrow-left back-btn" ng-click="Header.goBack()" ng-show="Header.goBack"></i>
                <h2>{{Header.title}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        
        <md-content flex layout-padding class="ui-view-container">

            <!-- LOADING -->
            <div layout="row" layout-padding ng-show="alert.loading.show">
                <span flex></span>
                <div layout="column" flex="50" layout-align="center center">
                    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
                    <div style="margin-top: 10px; text-align: center;">{{alert.loading.message}}</div>
                </div>
                <span flex></span>
            </div>

            <ui-view ng-hide="alert.loading.show"></ui-view>

        </md-content>
    </div>
    
    <script src="/client/dist/lib.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.0.min.js" type="text/javascript"></script>
    <script src="signalr/hubs" type="text/javascript"></script>
    
    <script src="/client/dist/app.js"></script>

    <!-- REQUIRED FOR ASP.NET MVC (NOT USED HERE) -->
    @RenderBody()
</body>
</html>
