<md-content layout-sm="column" class="event-page">
    <div class="status">
        <h4>Event Status: <small>{{EventCtrl.status}}</small></h4>
    </div>
    
    <md-card class="teammates">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex class="organizer">Teammates</span>
            </div>
        </md-toolbar>
        <md-card-content>
            <md-list>
                <md-subheader class="md-no-sticky">Organizer</md-subheader>
                <md-list-item class="md-3-line">
                    <img src="http://cdn.gentryriggen.com/partyup/avatar.png" class="md-avatar" alt="Organizer" />
                    <div class="md-list-item-text">
                        <h3>{{ EventCtrl.event.Organizer.FirstName }} {{ EventCtrl.event.Organizer.LastName }}</h3>
                        <p class="xbl" ng-if="EventCtrl.event.Organizer.XBLTag">
                            <a ng-click="EventCtrl.showXBLInfo(EventCtrl.event.Organizer)" target="_blank">
                                <strong>XBL:</strong> {{ EventCtrl.event.Organizer.XBLTag }}
                            </a>
                        </p>
                        <p>PSN: {{EventCtrl.event.Organizer.PSNTag}}</p>
                    </div>
                </md-list-item>
                <md-subheader class="md-no-sticky">Participants</md-subheader>
                <md-progress-linear class="md-accent" md-mode="indeterminate" ng-show="EventCtrl.event.EventParticipants.length < EventCtrl.event.DesiredAmount"></md-progress-linear>
                <md-list-item class="md-3-line" ng-repeat="p in EventCtrl.event.EventParticipants">
                    <img src="http://cdn.gentryriggen.com/partyup/avatar.png" class="md-avatar" alt="Organizer" />
                    <div class="md-list-item-text">
                        <h3>{{ p.FirstName }} {{ p.LastName }}</h3>
                        <p class="xbl">
                            <a ng-click="EventCtrl.showXBLInfo(p)" target="_blank">
                                <strong>XBL:</strong> {{ p.XBLTag }}
                            </a>
                        </p>
                        <p>PSN: {{p.PSNTag}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
    <md-card class="team-chat">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex class="organizer">Team Chat</span>
            </div>
        </md-toolbar>
        <md-card-content>
            <ul>
                <li ng-repeat="chat in EventCtrl.chatMessages | limitTo:-6">
                    <strong>{{ chat.from }}:</strong>
                    <span>{{ chat.message }}</span>
                </li>
            </ul>
            <form flex ng-submit="EventCtrl.addNewMessage()">
                <md-input-container>
                    <label>New Message</label>
                    <input ng-model="EventCtrl.newMessage">
                </md-input-container>
            </form>
        </md-card-content>
    </md-card>
</md-content>