<md-card class="event">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span flex class="organizer">{{event.organizer.username}} <small>on</small> {{event.platform}}</span>
            <span flex="40" style="text-align: right;">{{event.timeAgo}}</span>
        </div>
    </md-toolbar>
    <md-card-content>
        <p>
            <b>{{event.organizer.username}}</b> is looking for <b>{{event.desiredAmount > 1 ? event.desiredAmount + ' people ' : '1 person '}}</b>
            to help conquer <b>{{event.mission.name}}</b>. <b>{{event.organizer.username}}</b> speaks <b>{{event.language}}</b> {{event.hasMic ? 'and has a mic.' : 'but does not have a mic.'}}
        </p>
        <p ng-if="event.notes.length > 0"><b>{{event.organizer.username}}</b> would also like you to know:</p>
        <p ng-if="event.notes.length > 0"><b><i>{{event.notes}}</i></b></p>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-hide="event.closed" class="md-raised md-accent" aria-label="Join Event" ng-click="clicked()">Join</md-button>
        <h3 ng-show="event.closed">Closed!</h3>
    </div>
</md-card>