<md-content layout-padding layout-align="center center">
    <div layout-padding>
        <p>Party Up is proudly created and updated by
            <strong>
                <a href="http://gentryriggen.com" target="#">Gentry Riggen</a>
            </strong>
        </p>
        <p>The site is always looking for ways to improve and new communities to support. If you are interested in either, please submit
            feedback below.</p>
    </div>
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex class="organizer">Send Feedback</span>
            </div>
        </md-toolbar>
        <md-card-content>
            <form name="feedback">
                <md-input-container>
                    <label>Name</label>
                    <input required name="name" ng-model="About.user.name" />
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <input required name="email" ng-model="About.user.email" />
                </md-input-container>
                <md-input-container>
                    <label>Message</label>
                    <textarea required name="message" ng-model="About.user.message"></textarea>
                </md-input-container>
            </form>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button ng-click="About.submit()" class="md-raised md-accent">Send Feedback</md-button>
        </div>
    </md-card>
</md-content>