<div class="page">
  <div class="title">
    <div style="background-image: url('{{ CommunityCtrl.community.bannerUrl }}')" class="page-banner"></div>
    <h1>{{CommunityCtrl.community.name}}</h1>
    <p>{{CommunityCtrl.community.description}}</p>
  </div>
  <h2>Missions</h2>
  <md-divider></md-divider>
  <div layout="row" layout-wrap>
    <md-progress-circular class="md-accent" md-mode="indeterminate" ng-hide="CommunityCtrl.missions !== false"></md-progress-circular>
    <form flex="100" name="searchForm" ng-submit="CommunityCtrl.search(q)">
        <md-input-container>
            <label>Search</label>
            <input ng-model="q" ng-model-options="{ debounce: 350, blur: 0 }" ng-change="CommunityCtrl.search(q)">
        </md-input-container>
    </form>
    <mission-card flex="100"
       ng-repeat="m in CommunityCtrl.missions" mission="m" 
       when-clicked="CommunityCtrl.goToMission">
     </mission-card>
  </div>
</div>