<div layout="row">
  <span flex></span>
  <md-button class="md-raised md-warn" ng-click="CommunityAdminCtrl.delete()">Delete</md-button>
</div>
<md-input-container>
  <label>Name</label>
  <input ng-model="CommunityAdminCtrl.community.name" ng-change="CommunityAdminCtrl.update()" ng-model-options="CommunityAdminCtrl.modelOptions"/>
</md-input-container>
<md-input-container>
  <label>Description</label>
  <input ng-model="CommunityAdminCtrl.community.description" ng-change="CommunityAdminCtrl.update()" ng-model-options="CommunityAdminCtrl.modelOptions"/>
</md-input-container>
<md-input-container>
  <label>Logo Url</label>
  <input type="file" name="file" onchange="angular.element(this).scope().CommunityAdminCtrl.uploadFile(this.files, 'banner')" />
  <img src="{{CommunityAdminCtrl.community.bannerUrl}}" height="90" width="160" />
</md-input-container>
<md-divider></md-divider>
<div layout="row">
  <h4>Missions</h4>
  <span flex></span>
  <md-button class="md-raised md-primary" ng-click="CommunityAdminCtrl.createNewMission()">New Mission</md-button>
</div>
<br/>
<br/>
<div layout="row" layout-wrap>
    <mission-card flex-sm="100" flex-md="33"
        ng-repeat="m in CommunityAdminCtrl.missions"
        mission="m" when-clicked="CommunityAdminCtrl.goToMission">
    </mission-card>
</div>