<div layout="row">
  <span flex></span>
  <md-button class="md-raised md-warn" ng-click="CommunityAdmin.delete()">Delete</md-button>
</div>
<md-input-container>
  <label>Name</label>
  <input ng-model="CommunityAdmin.community.name" ng-change="CommunityAdmin.update()" ng-model-options="CommunityAdmin.modelOptions"/>
</md-input-container>
<md-input-container>
  <label>Description</label>
  <input ng-model="CommunityAdmin.community.description" ng-change="CommunityAdmin.update()" ng-model-options="CommunityAdmin.modelOptions"/>
</md-input-container>
<md-input-container>
  <label>Logo Url</label>
  <input type="file" name="file" onchange="angular.element(this).scope().CommunityAdmin.uploadFile(this.files, 'banner')" />
  <img src="{{CommunityAdmin.community.bannerUrl}}" height="90" width="160" />
</md-input-container>
<md-divider></md-divider>
<div layout="row">
  <h4>Missions</h4>
  <span flex></span>
  <md-button class="md-raised md-primary" ng-click="CommunityAdmin.createNewMission()">New Mission</md-button>
</div>
<br/>
<br/>
<div layout="row" layout-wrap>
    <mission-card flex="100"
        ng-repeat="m in CommunityAdmin.missions"
        mission="m" when-clicked="CommunityAdmin.goToMission">
    </mission-card>
</div>