<div class="page">
    <div class="title">
        <div style="background-image: url('{{ CommunityCtrl.community.bannerUrl }}')" class="page-banner"></div>
        <h1>{{CommunityCtrl.community.name}}</h1>
    </div>
    <div layout="column">
        <!-- FILTERS -->
        <div layout="row" class="search-form">
            <form flex="100" name="searchForm" ng-submit="CommunityCtrl.search(q)">
                <md-input-container>
                    <label>Search Missions</label>
                    <input ng-model="q" ng-model-options="{ debounce: 350, blur: 0 }" ng-change="CommunityCtrl.search(q)">
                </md-input-container>
                <i class="fa fa-search"></i>
            </form>
        </div>
        

        <table class="table table-striped mission-listings">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Total Events</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="m in CommunityCtrl.missions" ng-click="CommunityCtrl.goToMission(m)">
                    <td>{{m.name}}</td>
                    <td>{{m.totalEvents}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>