@import "variables";
$themeColor: #072F49;
$backgroundColor: rgba(66, 66, 66, 1);
$defaultForegroundColor: #FEFEFE;
$accentColor: #072F49;


// DEFAULTS
body {
    font-family: 'Lato', sans-serif;

    a {
        color: lighten($themeColor, 10);
    }

    a:hover {
        color: lighten($themeColor, 20);
        text-decoration: none;
        cursor: pointer;
    }

    md-toolbar {
        color: $defaultForegroundColor;
    }
}

md-sidenav {
    background-color: $themeColor;
    opacity: 0.9;

    header.nav-header {
        background-color: $themeColor;
        padding: 15px 10px;
        color: $defaultForegroundColor;

        .close-btn {
            font-size: 31px;
        }

        .close-btn:hover {
            cursor: pointer;
        }

        a {
            text-decoration: none;

            img {
                border-radius: 50%;
                height: 150px;
                width: 150px;
                margin: 25px auto 20px;
            }

            h1 {
                color: $defaultForegroundColor;
                text-align: center;
                font-weight: 300;
                font-size: 30px;
            }
        }
    }

    md-content {
        background-color: $themeColor;

        md-list {
            md-list-item {
                p {
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #fefefe;
                }
            }
        }
    }
}

md-toolbar.mobile-header {
    .md-toolbar-tools {
        .back-btn {
            color: $defaultForegroundColor;
            margin-left: -5px;
            margin-right: 15px;
        }

        .back-btn:hover {
            cursor: pointer;
        }

        h2 {
            font-size: 30px;
            font-weight: 300;
            color: $defaultForegroundColor;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

@media(max-width: 450px) {
    .md-toolbar-tools {
        h2 {
            font-size: 21px !important;
        }
    }
}

a.mission-card:hover:hover, a.community-card:hover {
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.14),0 16px 24px 2px rgba(0,0,0,.098),0 6px 30px 5px rgba(0,0,0,.084);
}

a.mission-card, a.community-card {
    outline: none;

    md-card {
        outline: none;
        display: block;
        height: 250px;
        min-height: 250px;
        max-height: 250px;
        max-width: 300px;
        background: #fefefe;
        color: #343434;

        img.md-card-image {
            max-height: 130px;
        }

        md-card-content {
            max-height: 170px;

            h2 {
                margin-top: 0;
                font-weight: 400;
                font-size: 16px;
            }

            h2, p {
                padding: 5px 15px;
            }
        }
    }
}

.page {
    .title {
        .page-banner {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            display: block;
            padding-bottom: 42%;
        }

        h1 {
            margin: 3px;
            font-size: 21px;
        }

        p {
            margin: 3px 5px;
            font-size: 12px;
            margin-bottom: 15px;
        }
    }

    h2 {
        margin: 20px 5px 3px;
        font-size: 18px;
    }
}

md-toolbar.event {
    .md-toolbar-tools {
        font-size: 12px;

        .organizer {
        }
    }
}
