@import "variables";
$themeColor: #455A64;
$defaultForegroundColor: #464646;
$accentColor: #FFC107;


// DEFAULTS
body {
    font-family: 'Lato', sans-serif;
    color: $defaultForegroundColor;

    a {
        color: lighten($themeColor, 10);
    }

    a:hover {
        color: lighten($themeColor, 20);
        text-decoration: none;
        cursor: pointer;
    }
}

$navForegroundColor: #fefefe;

md-sidenav {

    header.nav-header {
        background: $themeColor;
        padding: 15px 10px;

        a {
            text-decoration: none;

            img {
                border-radius: 50%;
                height: 150px;
                width: 150px;
                margin: 25px auto 20px;
            }

            h1 {
                text-align: center;
                font-weight: 300;
                font-size: 30px;
                color: $accentColor;
            }
        }

        .social-links {
            margin: 20px 10px 5px 10px;

            span {
                text-align: center;

                a {
                    color: $navForegroundColor;
                }
            }
        }
    }

    md-list {
        md-list-item {
            p {
                color: $defaultForegroundColor;
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }
}

md-toolbar.mobile-header {
    .md-toolbar-tools {
        h2 {
            color: $navForegroundColor !important;
            font-size: 30px;
            font-weight: 300;
        }
    }
}

a.mission-card, a.community-card {
    outline: none;
    md-card {
        outline: none;
        display: block;
        height: 250px;
        min-height: 250px;
        max-height: 250px;
        max-width: 300px;

        img.md-card-image {
            max-height: 130px;
        }

        md-card-content {
            max-height: 170px;

            h2 {
                margin-top: 0;
                font-weight: 400;
                font-size: 16px;
            }

            h2, p {
                padding: 5px 15px;
            }
        }
    }
}

.page {
    .title {
        .page-banner {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            display: block;
            padding-bottom: 42%;
        }

        a {
            h1 {
                margin: 3px;
                font-size: 21px;
            }
        }

        p {
            margin: 3px 5px;
            font-size: 12px;
            margin-bottom: 15px;
        }
    }
    h2 {
        margin: 20px 5px 3px;
        font-size: 18px;
    }
}
