<div class="page">
    <div class="title">
        <div style="background-image: url('{{ MissionCtrl.mission.bannerUrl }}')" class="page-banner"></div>
        <h1>{{MissionCtrl.mission.name}}</h1>
        <p>{{MissionCtrl.mission.description}}</p>
    </div>
    <div layout="row">
        <h2>
            Events
            <small>({{MissionCtrl.events.length}})</small>
        </h2>
        <span flex></span>
        <md-button class="md-raised" ng-click="MissionCtrl.togglePlay()">
            <i class="fa fa-play" ng-hide="MissionCtrl.play"></i>
            <i class="fa fa-pause" ng-show="MissionCtrl.play"></i>
            {{MissionCtrl.play ? 'Pause' : 'Play'}}
        </md-button>
        <md-button class="md-raised md-accent" ng-click="MissionCtrl.hostEvent($event)">Host Event</md-button>
    </div>  
    <md-divider></md-divider>
    <div layout="row">
        <md-input-container>
            <md-select placeholder="Platform" ng-model="MissionCtrl.platform" ng-change="MissionCtrl.filterPlatform(MissionCtrl.platform)">
                <md-option ng-repeat="p in MissionCtrl.platforms" value="{{p}}">{{p}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <md-divider></md-divider>
    <div layout="column" layout-wrap>
        <!-- LOADER -->
        <md-progress-linear class="md-accent" md-mode="indeterminate"
                            ng-show="MissionCtrl.events.length == 0 && MissionCtrl.play">
        </md-progress-linear>

        <!-- EMPTY STATE MESSAGE -->
        <div ng-show="MissionCtrl.events.length == 0">
            <h4>No events. Why not host one?</h4>
            <strong>(No need to refresh, new events will show up as they are created)</strong>
        </div>

        <!-- Event Cards -->
        <event-card flex
                    ng-repeat="event in MissionCtrl.events | platformFilter:MissionCtrl.platformFilter"
                    event="event" when-clicked="MissionCtrl.joinEvent">
        </event-card>

    </div>
</div>

<script type="text/ng-template" id="amountModal.html">
    <md-dialog aria-label="Event Details" class="event-details-modal">
        <form ng-submit="complete()">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Event Details</h2>
                </div>
            </md-toolbar>
            <md-dialog-content layout="column">
                <label>Platform</label>
                <md-input-container>
                    <md-select placeholder="Platform" ng-model="platform">
                        <md-option ng-repeat="p in platforms" value="{{p}}">{{p}}</md-option>
                    </md-select>
                </md-input-container>

                <label>How many do you need?</label>
                <md-input-container>
                    <md-select placeholder="How Many?" ng-model="amount">
                        <md-option ng-repeat="amt in possibleAmounts" value="{{amt}}">{{amt}}</md-option>
                    </md-select>
                </md-input-container>

                <label>Language</label>
                <md-input-container>
                    <md-select placeholder="Language?" ng-model="language">
                        <md-option ng-repeat="l in languages" value="{{l}}">{{l}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <md-checkbox ng-model="mic" aria-label="Mic?">
                        Need a mic?
                    </md-checkbox>
                </md-input-container>

                <md-input-container>
                    <label>Notes</label>
                    <input type="text" ng-model="notes" />
                </md-input-container>

            </md-dialog-content>

            <div class="md-actions" layout="row">
                <md-button ng-click="cancel()" class="md-raised">
                    Cancel
                </md-button>
                <md-button type="submit" class="md-raised md-accent">
                    OK
                </md-button>
            </div>
        </form>
    </md-dialog>
</script>