<div class="page">
    <div class="title">
        <div style="background-image: url('{{ Mission.mission.bannerUrl }}')" class="page-banner"></div>
        <h1>{{Mission.mission.name}}</h1>
        <p>{{Mission.mission.description}}</p>
    </div>
    <div layout="row">
        <h2>
            Events
            <small>({{Mission.events.length}})</small>
        </h2>
        <span flex></span>
        <md-button class="md-raised" ng-click="Mission.togglePlay()">
            <i class="fa fa-play" ng-hide="Mission.play"></i>
            <i class="fa fa-pause" ng-show="Mission.play"></i>
            {{Mission.play ? 'Pause' : 'Play'}}
        </md-button>
        <md-button class="md-raised md-accent" ng-click="Mission.hostEvent($event)">Host Event</md-button>
    </div>  
    <md-divider></md-divider>

    <!-- FILTERS -->
    <div layout="row" class="event-filters">
        <div layout="column" class="filter">
            <label>Platform:</label>
            <md-input-container>
                <md-select placeholder="Platform" ng-model="Mission.platform" ng-change="Mission.filterPlatform(Mission.platform)">
                    <md-option ng-repeat="p in Mission.platforms" value="{{p}}">{{p}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        
    </div>
    <md-divider></md-divider>
    <div layout="column" layout-wrap>
        <!-- LOADER -->
        <md-progress-linear class="md-accent" md-mode="indeterminate"
                            ng-show="Mission.events.length == 0 && Mission.play">
        </md-progress-linear>

        <!-- EMPTY STATE MESSAGE -->
        <div ng-show="Mission.events.length == 0">
            <h4>No events. Why not host one?</h4>
            <strong>(No need to refresh, new events will show up as they are created)</strong>
        </div>

        <!-- Events -->
        <table class="table table-striped" ng-show="Mission.events.length > 0">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Platform</th>
                    <th>Time</th>
                    <th hide-sm>Amount</th>
                    <th hide-sm>Language</th>
                    <th hide-sm>Mic?</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in Mission.events | platformFilter:Mission.platformFilter" ng-click="Mission.joinEvent(event)">
                    <td style="text-transform: uppercase;">{{event.organizer.username}}</td>
                    <td>{{event.platform}}</td>
                    <td>{{event.timeAgo}}</td>
                    <td hide-sm>{{event.desiredAmount}}</td>
                    <td hide-sm>{{event.language}}</td>
                    <td hide-sm>{{event.hasMic ? 'YES' : 'NO'}}</td>

                        <!--<b style="text-transform: uppercase;">{{event.desiredAmount > 1 ? event.desiredAmount + ' people ' : '1 person '}}</b>
                        to help conquer <b style="text-transform: uppercase;">{{event.mission.name}}</b>.
                        <b style="text-transform: uppercase;">{{event.organizer.username}}</b> speaks
                        <b style="text-transform: uppercase;">{{event.language}}</b> {{event.hasMic ? 'and has a mic.' : 'but does not have a mic.'}}-->
                </tr>
            </tbody>
        </table>

    </div>
</div>

<script type="text/ng-template" id="amountModal.html">
    <md-dialog aria-label="Event Details" class="event-details-modal">
        <form ng-submit="complete()">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Event Details</h2>
                </div>
            </md-toolbar>
            <md-dialog-content layout="column">
                <label>Platform</label>
                <md-input-container>
                    <md-select placeholder="Platform" ng-model="platform">
                        <md-option ng-repeat="p in platforms" value="{{p}}">{{p}}</md-option>
                    </md-select>
                </md-input-container>

                <label>How many do you need?</label>
                <md-input-container>
                    <md-select placeholder="How Many?" ng-model="amount">
                        <md-option ng-repeat="amt in possibleAmounts" value="{{amt}}">{{amt}}</md-option>
                    </md-select>
                </md-input-container>

                <label>Language</label>
                <md-input-container>
                    <md-select placeholder="Language?" ng-model="language">
                        <md-option ng-repeat="l in languages" value="{{l}}">{{l}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <md-checkbox ng-model="mic" aria-label="Mic?">
                        Need a mic?
                    </md-checkbox>
                </md-input-container>

                <md-input-container>
                    <label>Notes</label>
                    <input type="text" ng-model="notes" />
                </md-input-container>

            </md-dialog-content>

            <div class="md-actions" layout="row">
                <md-button ng-click="cancel()" class="md-raised">
                    Cancel
                </md-button>
                <md-button type="submit" class="md-raised md-accent">
                    OK
                </md-button>
            </div>
        </form>
    </md-dialog>
</script>